section.hero {
    width: 100%;
    height: 90vh;

    // background-color: var(--sixty-percent);
    background: linear-gradient(#0140e5 0%, #03057e 100%);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    isolation: isolate;

    padding: 5vh 3vw;

    &::after {
        content: "";

        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        border-top: 100px solid transparent;
        border-right: 100vw solid white;
        width: 0;
        height: 0px;
    }

    .svg-wrapper {
        width: 100%;
        max-height: 500px;

        display: grid;
        place-items: center;

        margin-bottom: 12px;

        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);

        // debug
        display: none;

        @media screen and (max-width: 425px) {
            margin-bottom: 0px;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .hero-data {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2vh;

        color: var(--primary-color);
        width: 100%;

        @media screen and (min-width: 768px) {
            margin-right: 4vw;
        }

        .header {
            display: flex;
            align-items: center;
            gap: 1vmin;

            .words {
                display: flex;
                align-items: center;
                justify-content: center;

                perspective: 1000px;
                width: 100px;

                position: relative;
                isolation: isolate;

                .word {
                    &:not(.prev, .active, .next) {
                        position: absolute;
                        animation: word-disable 1s
                            cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;

                        @keyframes word-disable {
                            from {
                                filter: blur(1px);
                                color: white;
                                transform: translateY(-100%) rotateX(35deg);
                            }
                            to {
                                opacity: 0;
                                transform: translateY(-100%) rotateX(90deg)
                                    scale(0);
                                position: absolute;
                            }
                        }
                    }

                    &.prev,
                    &.next {
                        position: absolute;
                        filter: blur(1px);
                    }
                    &.active {
                        animation: word-active 3s
                            cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;

                        @keyframes word-active {
                            from {
                                filter: blur(1px);
                                transform: translateY(100%) rotateX(-35deg);
                            }
                            to {
                                color: var(--ten-percent);
                                filter: blur(0px);
                                transform: translateY(0) rotateX(0deg);
                            }
                        }
                    }
                    &.prev {
                        animation: word-prev 3s
                            cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;

                        @keyframes word-prev {
                            from {
                                opacity: 0;
                                transform: translateY(100%) rotateX(-90deg);
                            }
                            to {
                                opacity: 1;
                                transform: translateY(100%) rotateX(-35deg);
                            }
                        }
                    }
                    &.next {
                        animation: word-next 3s
                            cubic-bezier(0.45, 0.02, 0.09, 0.98) forwards;

                        @keyframes word-next {
                            from {
                                transform: translateY(0) rotateX(0deg);
                                filter: blur(0px);
                                color: var(--ten-percent);
                            }
                            to {
                                filter: blur(1px);
                                color: white;
                                transform: translateY(-100%) rotateX(35deg);
                            }
                        }
                    }
                }
            }
        }

        .skew-anim {
            transform: translateX(-2000px);

            animation: skew-anim 1s 1s cubic-bezier(0.45, 0.02, 0.09, 0.98)
                forwards;

            @keyframes skew-anim {
                0% {
                    transform: translateX(-2000px) skewX(35deg);
                }
                75% {
                    transform: translateX(10px) skewX(-35deg);
                }
                100% {
                    transform: translateX(0) skewX(0);
                }
            }
        }

        .desc {
            display: flex;
            align-items: center;
            gap: 0.2vmin;
            .cursor {
                width: 2px;
                height: 1em;

                background-color: var(--primary-color);

                transform: scaleY(0);

                transform-origin: center center;

                animation: cursor-effect 5s ease-in-out backwards;

                @keyframes cursor-effect {
                    0% {
                        transform: scaleY(0);
                    }
                    10% {
                        transform: scaleY(1);
                    }
                    20% {
                        transform: scaleY(0);
                    }
                    30% {
                        transform: scaleY(1);
                    }
                    40% {
                        transform: scaleY(0);
                    }
                    50% {
                        transform: scaleY(1);
                    }

                    60% {
                        transform: scaleY(0);
                    }
                    70% {
                        transform: scaleY(1);
                    }
                    80% {
                        transform: scaleY(0);
                    }
                    90% {
                        transform: scaleY(1);
                    }
                    100% {
                        transform: scaleY(0);
                    }
                }
            }
        }

        .cta-wrapper {
            display: flex;
            align-items: center;
            gap: 2vw;

            margin-top: 2vh;

            .cta {
                padding: 1.2rem 2.2rem;

                background-color: var(--ten-percent);
                color: black;

                transform: translateY(100%);
                opacity: 0;

                animation: cta-fadein 1s 6s cubic-bezier(0.45, 0.02, 0.09, 0.98)
                    forwards;

                @keyframes cta-fadein {
                    from {
                        transform: translateY(100%);
                        opacity: 0;
                    }
                    to {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }

                &.main {
                    border-radius: 10px;
                }

                &.sec {
                    animation-delay: 6.2s;
                    border-radius: 10px;
                }
            }
        }
    }
}
